html{
	background: url("/Images/background.jpg");
	-webkit-filter: blur(10px);
}
Body{
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	max-width: 1024px;
	min-width: 256px;
	height: 100%;
}
