html{
	background: url("http://www.imgbase.info/images/safe-wallpapers/anime/sword_art_online/36065-sao__gun_gale_online__ggo_wallpaper.jpg");
	-webkit-filter: blur(10px);
}
Body{
	margin-left: auto;
	margin-right: auto;
	width: 512px;
}
