html{
	background: url("/Images/background.jpg");
	-webkit-filter: blur(10px);
}
Body{
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	max-width: 1024px;
	min-width: 512px;
	height: 100%;
}
Canvas#crossBorders{
	max-height: 1024px;
	min-height: 512px;
	background: rgba(0, 0, 255, 0.2);
}
