Header{
  position: fixed;
  background: rgba(50,100,125,0.3);
  top: 0;
  left: 10%;
  width: 80%;
  height: 50px;
}
header > span{
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
#postHolder{
  position: absolute;
  top: 50px;
  left: calc(10% + 10px);
  width: calc(80% - 20px);
  background: rgba(0,0,0,0.1);
  min-height: 100%;
}
#postHolder > #post{
  background: green;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 10px rgb(255,150,150);
}
Body{
  background: rgb(200,200,200);
}
