Header{
  position: fixed;
  background: rgba(50,100,125,0.3);
  top: 0;
  left: 10%;
  width: 80%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
#postHolder{
  position: absolute;
  top: 50px;
  left: calc(10% + 10px);
  width: calc(80% - 20px);
  background: rgba(0,0,0,0.1);
}
#postHolder > #post{
  background: green;
}
Body{
  background: rgb(200,200,200);
}
