Html, Body, .LoadingCircle, .LoadingCircleT, .inner, .innerT1, .innerT2{
	Height: 100%;
	Width: 100%;
	margin: 0;
	background: #c0ffee;
	overflow: hidden;
}

/*replaced @media tag with vmin's to save space*/
.LoadingCircle{
	background: #ff0000;
	-webkit-clip-path: circle(11vmin at 50% 50%);
	clip-path: circle(11vmin at 50% 50%);
	-webkit-transition: all 1s ease-out; /* Safari */
	transition: all 1s ease-out;
	-webkit-animation: rainbow 8s infinite; /* Safari 4.0 - 8.0 */
	animation: rainbow 8s infinite;
	-webkit-animation-timing-function: ease-in-out; /* Safari 4.0 - 8.0 */
 	animation-timing-function: ease-in-out;
}
.LoadingCircleT{
	background: #ff0000;
	-webkit-clip-path: circle(65vmin at 50% 50%);
	clip-path: circle(65vmin at 50% 50%);
	-webkit-transition: all 1s ease-out; /* Safari */
	transition: all 1s ease-out;
	-webkit-animation: rainbow 8s infinite; /* Safari 4.0 - 8.0 */
	animation: rainbow 8s infinite;
	-webkit-animation-timing-function: ease-in-out; /* Safari 4.0 - 8.0 */
  	animation-timing-function: ease-in-out;
}
.inner{
	background: #26004c;
	-webkit-clip-path: circle(10vmin at 50% 50%);
	clip-path: circle(10vmin at 50% 50%);
	-webkit-transition: all 1s ease-out; /* Safari */
	-webkit-transition-delay: .125s;
	transition: all 1s ease-out;
	transition-delay: .125s;
	display: flex;
	align-items: center;
	justify-content: center;
}
.innerT1{
	background: #26004c;
	-webkit-clip-path: circle(65vmin at 50% 50%);
	clip-path: circle(65vmin at 50% 50%);
	-webkit-transition: all 1s ease-out; /* Safari */
	-webkit-transition-delay: .125s;
	transition: all 1s ease-out;
	transition-delay: .125s;
	display: flex;
	align-items: center;
	justify-content: center;
}
.innerT2{
	background: #26004c;
	-webkit-clip-path: circle(60vmin at 50% 50%);
	clip-path: circle(60vmin at 50% 50%);
	-webkit-transition: all 1s ease-in; /* Safari */
	-webkit-transition-delay: .125s;
	transition: all 1s ease-in;
	transition-delay: .125s;
	display: flex;
	align-items: center;
	justify-content: center;
}
p{
	margin: 0;
	text-align: center;
	color: #ffffff;
	font-size: 13vmin;
	max-width: 100vmin;
}
.floatingObj{
	position: absolute;
	top: calc(100vh + 20vmin);
	-webkit-clip-path: circle(10vmin at 50% 50%);
	clip-path: circle(10vmin at 50% 50%);
	background: rgba(255, 255, 255, .6);
	height: 20vmin;
	width: 20vmin;
	-webkit-animation: floater 10s infinite; /* Safari 4.0 - 8.0 */
	animation: floater 10s infinite;
	-webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
    animation-timing-function: linear;
}

@keyframes floater{
	0% {top: calc(100vh + 20vmin);}
	100% {top: -20vmin;}
}
@keyframes rainbow{
	0%  {background: #FF0000;}
	14% {background: #FF7F00;}
	29% {background: #FFFF00;}
	43% {background: #00FF00;}
	57% {background: #0000FF;}
	71% {background: #4B0082;}
	86% {background: #9400D3;}
}
